.container {
    margin: 0 auto;
    max-width: 1000px;
}

.action-btngroup {
    display: flex;
    align-items: center;
}

#table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Header Nav Bar*/
.nav {
    position: fixed;
    align-items: center;
    z-index: 5;
    width: 100%;
    padding: 10px 30px;
    background-color: #fcdcdd;
    border-bottom: 1px dotted #7e7878;
}

.pc {
    display: none;
}

.nav .top-nav {
    width: 100%;
    padding-bottom: 10px;
}

.nav .nav-item {
    display: flex;
    float: right;
    justify-content: space-between;
    padding-right: 50px;
    /*margin-right: 60px;*/
    list-style-type: none;
}

.nav ul li {
    display: block;
    padding: 0 30px 10px;
}

.nav ul li i {
    margin-top: 10px;
    color: #0c0c0c;
    font-size: 20px;
}

.nav ul li a span {
    position: absolute;
    padding: 2px 3px;
    border: none;
    background-color: #fb5757;
    color: #ffff;
    font-size: 12px;
    /*border-radius: 30%;*/
}

.nav ul li div.profile {
    display: inline-block;
    position: relative;
    margin-right: 35px;
    border: none;
    text-decoration: none;
}

.nav ul li .dropbtn {
    width: 0;
    border: none;
    color: #070707;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav ul li .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    min-width: 150px;
}

.nav ul li .dropdown-content a {
    display: block;
    padding: 5px;
    color: black;
    font-weight: 100;
    text-decoration: none;
    font-style: normal;
}

.nav ul li .dropdown-content a:hover {
    background-color: #dfdada;
}

.nav ul li .dropdown-content a i {
    padding: 5px;
    color: #000;
    font-size: 12px;
}

.nav ul li .profile:hover .dropdown-content {
    display: block;
}

.nav ul li .profile:hover .dropbtn {
    color: #000;
}

/*Side Navigation Bar*/

.side-nav {
    position: fixed;
    z-index: 99;
    float: left;
    width: 18%;
    height: 100%;
    background-color: #ab7f80;
}

.side-nav .logo {
    /*float: left;*/
    width: 40%;
}

.side-nav .logo a {
    display: inline-block;
}

.side-nav .logo a img {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 75%;
}

.mv-section {
    float: right;
    width: 82%;
    margin-top: 57px;
    /*margin-left: 18%;*/
    background-color: #fcdcdd;
    max-width: 1440px;
    min-height: 1000px;
}

.side-nav center img {
    width: 55px;
    height: 50px;
    margin-top: 20px;
    border: 5px solid #7e7878;
    border-radius: 50%;
}

.side-nav center .username {
    color: #eecff7;
    font-size: 18px;
    font-style: italic;
}

.side-nav .sidenav-item li {
    margin: 15px 0;
}

.side-nav .side-dropdown-content {
    display: block;
}

.sidenav-dropdown .pttl .drop-arrow {
    position: absolute;
    right: 0;
    margin: 10px;
    transition: 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.show {
    display: block !important;
}


.side-nav hr {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.side-nav .sidenav-item li a {
    display: block;
    line-height: 2;
    color: rgb(154 34 56 / 90%);
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    border-left: 5px solid transparent;
}

.side-nav .sidenav-item li a i {
    color: #2c2a2d;
    font-size: 14px;
}

.side-nav .sidenav-item li a.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-style: italic;
    /*border-radius: 20px 0 0 20px;*/
}

.side-nav .sidenav-item li.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-style: italic;
    /*border-radius: 20px 0 0 20px;*/
}



.side-nav .sidenav-item li a:active i {
    color: #000;
}

.side-nav .sidenav-item li a:hover {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    border-left: 5px solid #fff;
}

.side-nav .sidenav-item li a:hover i {
    color: #fff;
}

.side-nav .sidenav-item li a span {
    padding-left: 20px;
}

.side-nav .sidenav-item li i {
    margin-left: 20px;
}

.side-nav .sidenav-dropdown a.pttl {
    margin: 8px 0 7px 0px;
    padding: 5px 25px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    /*border-radius: 5px;*/
}

.side-nav .sidenav-dropdown a.pttl:hover {
    color: #000;
    font-weight: bold;
    font-style: italic;
    border-left: 5px solid #fff;
}

.nav .icon {
    display: none;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    font-size: 25px;
}

/*Table Design*/

#table {
    width: 100%;
    background-color: #f1e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}

#table td,
#table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #6a6a6a;
    color: white;
}

.card {
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
    padding: 3px 10px;
    border: none;
    box-shadow: 0 0.5em 0 -0.5em #14a73e98;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
}

.button-primary {
    display: inline-flex;
    margin-left: 5px;
    padding: 5px 30px;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 1px -2px, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 1px 5px 0;
    background-color: #6200ee;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    /*text-transform: uppercase;*/
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    user-select: none;

}

.button-primary:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-primay:not(:disabled) {
    background-color: #6200ee;
}

.button-primary:focus {
    box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.button-primary:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #A46BF5;
}

.danger {
    color: #ff1b1b;
    font-size: 18px;
    font-weight: bold;
}

input[type=text],
select {
    display: inline-block;
    margin-bottom: 5px;
    padding: 6px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.error {
    margin-top: 5px;
    color: #ff0000;
}

.tblttl {
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.success {
    /*background-color: #6200ee;*/
    color: #6200ee;
    font-size: 18px;
}

.cancel {
    background-color: #0000006e;
    color: #fff;
}

.modal {
    max-width: 20% !important;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-footer {
    display: flex;
    /*float: right;*/
    color: #fff;
    justify-content: center;
}

.modal-footer .danger {
    margin-left: 10px;
    color: #fff;
    background-color: #ff0000;
    font-size: 14px;
    font-weight: normal;
}

.form-footerBtn {
    margin-top: 12px;
}

.alert {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #bfffbf;
    color: #808080;
    text-align: center;
    border-radius: 5px;
}

.nav .btn-gnavi {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
}


/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1160px) {

    .pc {
        display: none;
    }

    .nav {
        padding: 1.4vw 3.9vw;
    }

    .nav ul li i {
        margin-top: 1.3vw;
        color: #0c0c0c;
        font-size: 2.2vw;
    }

    /*Side Navigation Bar*/

    .side-nav center img {
        width: 6.5vw;
        height: 5.9vw;
    }

    .side-nav center .username {
        font-size: 2vw;
    }

    .side-nav .sidenav-item li {
        margin: 2vw 0;
    }

    .side-nav .sidenav-item li a {
        line-height: 1.4;
    }

    .side-nav .sidenav-item li a i {
        font-size: 1.3vw;
    }

    .side-nav .sidenav-item li a:hover {
        padding-left: 0.7vw;
    }

    .side-nav .sidenav-item li a span {
        padding-left: 0.7vw;
        font-size: 1.8vw;
    }

    .side-nav .sidenav-dropdown a.pttl {
        margin: 1vw 0 0.9vw 0vw;
        padding: 0.7vw 0.7vw;
        font-size: 1.7vw;
        /*border-radius: 5px;*/
    }

    .side-nav .sidenav-dropdown a.pttl a i {
        margin-left: 0.7vw;
    }

    .sidenav-dropdown .side-dropdown-content li {
        padding-left: 0vw;
    }

    .sidenav-dropdown .pttl .drop-arrow {
        margin-top: 0.7vw;
    }


    /*Table Design*/

    #table {
        font-size: 1.7vw;
    }

    #table th {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
    }
}

/*Mobile Size*/
@media screen and (max-width: 767.9px) {

    .pc {
        display: block;
    }

    .nav {
        padding: 0 3.9vw;
    }

    .nav .logo {
        float: left;
        width: 13%;
    }

    .nav .logo a {
        display: inline-block;
    }

    .nav .logo a img {
        width: 100%;
        height: auto;
        margin-top: 0.8vw;
        margin-left: 12%;
    }

    .nav ul li {
        padding: 2.7vw 3.1vw;
    }

    .nav ul li i {
        font-size: 2.3vw;
    }

    /*Toggle menu*/
    .nav .btn-gnavi {
        display: block;
    }

    .content .side-nav {
        top: 9.1vw;
        left: -120vw;
        float: none;
        width: 100%;
        background-color: #ab7f80;
        text-align: center;
        max-height: 78%;
    }

    .nav .btn-gnavi span {
        position: absolute;
        width: 3.9vw;
        height: 0.6vw;
        background: #000;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        border-radius: 1.6vw;
    }

    .nav .btn-gnavi span:nth-child(1) {
        top: 0;
    }

    .nav .btn-gnavi span:nth-child(2) {
        top: 1.6vw;
    }

    .nav .btn-gnavi span:nth-child(3) {
        top: 3.1vw;
    }

    .nav .btn-gnavi.hb-open {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .nav .btn-gnavi.hb-open span {
        background: #000;
    }

    .nav .btn-gnavi.hb-open span:nth-child(1) {
        top: 2.3vw;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .nav .btn-gnavi.hb-open span:nth-child(2) {
        opacity: 0;
    }

    .nav .btn-gnavi.hb-open span:nth-child(3) {
        top: 2.3vw;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .mv-section {
        float: none;
        width: 100%;
        margin-top: -50px;
        margin-left: 0;
        padding-top: 10%;
    }

    /*Side Nav Bar*/

    .side-nav .logo {
        display: none;
    }

    .side-nav hr {
        display: none;
    }

    .side-nav center {
        display: none;
    }

    .side-nav .sidenav-item li {
        text-align: center;
    }

    .side-nav .sidenav-item li a span {
        padding-left: 0;
    }

    .side-nav .sidenav-item li a {
        font-size: 2.8vw;
    }

    .side-nav .sidenav-item li a i {
        display: none;
    }

    .side-nav .sidenav-dropdown a.pttl {
        margin: 1.3vw 0 1.1vw 0vw;
        padding: 0.8vw 0.3vw;
        font-size: 2.5vw;
        text-align: center;
        /*border-radius: 5px;*/
    }

    .side-nav .sidenav-dropdown a.pttl:hover {
        padding-left: 0vw;
        text-align: center;
        /*border-radius: 20px 0 0 20px;*/
    }

    .side-nav .sidenav-dropdown a.pttl a span {
        font-size: 2.8vw;
    }

    .sidenav-dropdown .side-dropdown-content li {
        text-align: center;
    }

    .sidenav-dropdown .pttl .drop-arrow {
        display: inline-block;
        right: 15.6vw;
    }

    /*Table Design*/

    #table {
        font-size: 1.7vw;
    }

    #table th {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
    }
}
