.ccard {
    /*margin: 30px 20px 30px 10px;
    padding: 10px 10px 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;*/
    margin: 30px 20px 30px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    border: 1px solid #00c292;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.category_cform {
    width: 50%;
    margin: 10% 30%;
}

.category_cform .ccard {
    padding: 30px 40px;
    box-shadow: 7px 10px 10px -3px rgb(0 0 0 / 50%);
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 52%;
    border-radius: 10px;
}

.category_cform .ccard h2 {
    color: #000000;
    font-size: 18px;
}

.category-forminput {
    width: 100%;
    margin-top: 10px;
    padding: 2px;
}

.form-footerBtn {
    text-align: center;
}

.form-footerBtn .button,
.button-primary {
    margin-top: 6px;
    padding: 3px 10px;
}

.form-footerBtn button a {
    color: #ffffff;
}

/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1160px) {
    .category_cform {
        width: 83%;
        margin: 10% 15%;
    }
}

/*Mobile Size*/
@media screen and (max-width: 767.9px) {
    .category_cform {
        width: 80%;
        margin-top: 10%;
    }

    .category_cform .ccard {
        width: 60%;
        margin-top: 10%;
    }
}
