* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    background:#143360;
    width: 100%;
    position: fixed; 
    height: 65px;
}

.nav .logo {
    margin: 20px 50px;
    display: block;
    float: left;
    color: #f3efef;
   font-size: 22px;

}
.nav .logo img {
    margin-left: 10px;
    display: block;
    float: left;
    color: #f3efef;
    width: 200px;
    height: auto;
}
.nav ul {
    list-style-type: none;  
    float: right;
    margin-right: 60px;
    /*width: 70%;*/
}
.nav ul li {
    display: block;
    float: left;
    padding: 15px 30px;
}

.nav ul li i {
    color: antiquewhite;
    font-size: 20px;
    margin-top: 10px;
}
.nav ul li a span {
    color: #ffff;
    font-size: 12px;
    padding: 2px 3px;
    border: 1px solid #000;
    background-color: #f06767;
    border-radius: 30%;
    /*transform: translate(50);*/
    position: absolute;
}

.nav ul li .profile {
    position: relative;
    display: inline-block;
  }

  .nav ul li.dropbtn {
    color: #070707;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
.nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav ul li .dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
  }

  .nav ul li .dropdown-content a:hover {
    background-color: #dfdada
}

.nav ul li .dropdown-content a i {
    color: #000;
    font-size: 12px;
    padding: 5px;
}
  
  .nav ul li .profile:hover .dropdown-content {
    display: block;
  }
  
  .nav ul li .profile:hover .dropbtn {
    color: #000;
  }

.side-nav {
    position: fixed;
    background-color: rgb(15, 19, 21);
    height: 100%;
    width: 200px;
    margin-top: 63px;
}

.side-nav center img {
    margin-top: 20px;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #7e7878;
}
.side-nav center .username {
    color: rgb(238, 207, 247);
    font-size: 18px;
    font-style: italic;
}
.side-nav .pttl {
    color: #fff;
    font: 19px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 2px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.side-nav hr {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.side-nav a {
    display: block;
    color: rgb(145, 203, 242);
    line-height: 60px;
    transition: 0.5s;
    font-size: 17px;
}

.side-nav a:hover {
    background-color: #143360;
    padding-left: 20px;
}
.side-nav a span {
    padding-left: 20px;
}
.side-nav i {
    margin-left: 20px;
}

#menu {
    display: none;
}

.nav .menu-bar {
    color: #fff;
    font-size: 25px;
    float: left;
    margin-top: 20px;
    display: none;
    margin-left: 20px;
}

.data {
    content: "";
    background: url(img/pinterest-image-4-3.jpg);
    height: 100vh;
    background-size: cover;
    margin-left: 200px;
    background-repeat: no-repeat;
}


@media screen and (min-width: 768px) and (max-width: 1160px)  { 
    .side-nav {
        width: 100px;
    }

    .side-nav center img {
        margin-top: 20px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 5px solid #4b4848;
    }
    .side-nav center .username {
        color: rgb(167, 192, 214);
        font-size: 15px;
    }
   
    .side-nav a span {
       display: none;
    }
    .side-nav a i {
        display: block;
        font-size: 16px;
        line-height: 70px;
        text-align: center;
        margin-left: 0;
     }
     .side-nav a:hover {
        padding-left: 5px;
        background-color: #143360;
     }
     .side-nav a:hover span {
        display: block;
        margin-top: -35px;
        text-align: center;
        transition: 0.5s;
        font-size: 12px;
     }
     .data {
        margin-left: 100px;
    }
}

@media screen and (max-width: 767.9px) {
    .nav .menu-bar {
        display: block;
    }

    .nav ul li a i {
        font-size: 15px;
    }
    .side-nav {
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        right: 100%;
        height: 70%;
        background-color: rgba(21, 21, 21, 0.5);
    }

    .side-nav center {
        display: none;
    }

    .side-nav a i {
        display: none;
    }
    .side-nav a span {
        font-size: 20px;
    }

    #menu:checked ~.side-nav {
        right: 0;
    }
    .data {
        margin-left: 0;
    }
}

