.product_pform {
    width: 70%;
    height: 135vh;
    margin: 5% 0 0 26%;
  }

  .product_pform .ccard {
    padding: 30px 40px;
    box-shadow: 7px 10px 10px -3px rgb(0 0 0 / 50%);
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 65%;
    border-radius: 10px;
  }

  .pinput {
    margin-bottom: 10px;
  }

  .ptitle {
    margin-bottom: 15px;
    color: #D10B42;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-align: center;
  }

  .sinput {
    width: 180px;
    margin-bottom: 10px;
  }

  .sbutton {
    padding: 5px 7px;
    border: none;
    background-color: #fc6900;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
  }

  .search-btngp {
    margin: 10px 0;
  }

  .action-btngroup {
    text-align: center;
  }

  .pimg {
    width: 70px;
  }

  .product-forminput {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #dddddd;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Arial',sans-serif;
    font-size: 13px !important;
  }

  .product-formSelect {
    width: 100%;
    margin-top: 5px;
  }

  .product-formTextarea {
      width: 100%;
      margin-top: 5px;
      border: 1px solid #dddddd;
      resize: none;
      border-radius: 5px;
      padding: 10px 10px 10px 22px;
      font-family: 'Arial',sans-serif;
      font-size: 14px;
  }

  .product-editImage {
    width: 100%;
  }

  #preview-image {
      margin-top: 5px;
      margin-bottom: 5px;
      object-fit: cover;
      max-width: 150px;
  }

  .productform-footerBtn button a {
    color: #ffffff;
  }

  .productform-footerBtn {
    margin-top: 6px;
    text-align: center;
  }

  .product-alert{
    display: table;
    position: absolute;
    z-index: -1;
    top: 65px;
    left: 60%;
    width: 390px;
    padding: 13px;
    border: 2px solid #11e134;
    background-color: #ddefbb;
    text-align: center;
    transform: translateX(-50%);
    z-index: 99;
    border-radius: 8px;
  }

  .empty{
    color: #d10b42;
    font-size: 16px;
    font-weight: bold;
  }
  /*Tablet Size*/
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .sbutton {
        padding: 0.551vw 0.547vw;
        font-size: 1.35vw;
        border-radius: 0.391vw;
        font-weight: 400;
    }

    .product-formTextarea {
        margin-top: 0.391vw;
        border: 0.078vw solid #dddddd;
        border-radius: 0.391vw;
        padding: 0.781vw 0.781vw 0.781vw 1.719vw;
        font-size: 1.094vw;
    }
    .product_pform .ccard{
        margin-top: 0;
        max-width: 70%;
        padding: 2.5vw;
    }
    .empty{
        font-size: 1.5vw;
    }
    .product-forminput {
        width: 100%;
        margin-top: 0.651vw;
        padding: .5vw;
        font-size: 1.042vw !important;
      }
      #preview-image {
        margin-top: 0.651vw;
        margin-bottom: 0.651vw;
        max-width: 14.531vw;
    }
  }

  /*Mobile Size*/
  @media screen and (max-width: 767.9px) {
    .ccard {
      margin-top: 0%;
    }

    .pimg {
      width: 10.938vw;
  }
    .sbutton {
      padding: 0.781vw 1.094vw;
      font-size: 2vw;
      border-radius: 0.781vw;
    }

  label{
      font-size: 2.344vw;
  }
    .product_pform {
      width: 80%;
      height: 135vh;
      margin: 5% 0 0 11%;
    }

    .product_pform .ccard {
      padding: 4.688vw 6.25vw;
      box-shadow: 1.094vw 1.563vw 1.563vw -0.469vw rgb(0 0 0 / 50%);
      border-radius: 1.563vw;
      max-width: 100%;
    }

    .pinput {
      margin-bottom: 1.563vw;
    }

    .ptitle {
      margin-bottom: 2.344vw;
      font-size: 2.813vw;
    }

    .sinput {
      width: 28.125vw;
      margin-bottom: 1.563vw;
    }

    .search-btngp {
        padding-bottom: 1.5vw;
        margin: 0;
    }

    .product-forminput {
      width: 100%;
      margin-top: 0.781vw;
      padding: 1vw;
      font-size: 2.031vw !important;
      border-radius: 0.781vw;
    }

    .product-formSelect {
      margin-top: 0.781vw;
    }

    .product-formTextarea {
        margin-top: 0.781vw;
        border-radius: 0.781vw;
        font-size: 1.7vw;
        padding: 1.5vw 2vw 2vw 2.6vw;
    }

    .product-editImage {
      width: 100%;
    }

    #preview-image {
        margin-top: 0.781vw;
        margin-bottom: 0.781vw;
        max-width: 23.438vw;
    }

    .productform-footerBtn {
      margin-top: 0.938vw;
    }

    .product-alert{
        top: 9.156vw;
        left: 50%;
        width: 60.938vw;
        padding: 2vw;
        border: 0.313vw solid #11e134;
        border-radius: 1.25vw;
        font-size: 2.5vw;
    }

    .product_pform .empty{
        font-size: 1.5vw;
    }
  }
