/*Table Design*/
.tblttl {
  line-height: 1.5;
  padding: 15px;
  background-color: #f6c4c5;
  color: #D10B42;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#table {
  width: 100%;
}

.deletebtn {
  border: none;
  text-decoration: none;
}

.deletebtn i {
  color: #ff1b1b;
  font-size: 18px;
  text-align: center;
}

.user-ccard {
  margin-top: 0 !important;
}

/*Restore Form*/

.restorebtn {
  margin: 10px;
  padding: 3px 5px;
  border: 0.1px dotted;
  background-color: #d6d6b1;
  font-size: 15px;
  border-radius: 5px;
}

.restoreForm {
  width: 50%;
  margin: 20%;
  padding: 40px 10px;
  border: 1px solid;
  background-color: #d8e4e4;
  text-align: center;
  border-radius: 10px;
}

.restoreForm input {
  padding: 5px;
  border-radius: 5px;
}

.restoreForm .restore {
  padding: 5px;
  border: 0.1px solid;
  background-color: rgb(121, 118, 118);
  font-weight: bold;
  border-radius: 5px;
}

/*Profile*/
.profile-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 140px 0 40px;
}

.profile-detail {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 30px 30px 20px;
  border: 1px solid #ddd;
  box-shadow: 8px 8px 4px rgb(255 4 4 / 30%);
  background-color: #fff;
  border-radius: 20px;
}

.profile-detail img {
  display: table;
  width: 80px;
  height: 70px;
  margin: 20px auto;
  text-align: center;
  border-radius: 50%;
}

.profile-content {
  font-family: sans-serif;
  font-size: 16px;
}

.profile-content li {
  margin-bottom: 15px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social li {
  margin-right: 20px;
}

.social i {
  color: #e65770;
}

.profile-edit a {
  color: #fff;
}

/*Profile Edit*/

/*edit btn*/
.profile-edit {
  position: absolute;
  top: 4%;
  left: 87%;
  padding: 3px;
  border: none;
  background-color: #ffafbd;
}

/*edit form*/
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 9% auto;
}

.edit-container .edit-ttl {
  margin-bottom: 15px;
  color: #D10B42;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  text-align: center;
}

.edit-container .edit-form {
  padding: 20px 40px;
  box-shadow: 8px 8px 4px rgb(255 4 4 / 30%);
  background-color: #fff;
  max-width: 100%;
  border-radius: 20px;
}

.edit-container .edit-form label {
  font-size: 15px;
}

.edit-container .edit-form input {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.edit-container .edit-form .button,
.button-primary {
  margin-top: 6px;
}

.edit-container .edit-form .button a,
.button-primary a {
  color: #fff;
}


/*Export and Import*/
.laravelExcel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 40px 5px;
}

.excelBtn {
  padding: 8px 20px;
  border: none;
  background-color: #F7A76C;
  color: #fff;
  border-radius: 10px;
}

.excel-input {
  margin-bottom: 7px;
  padding: 4px;
}

.uploadBtn {
  margin-left: 30%;
  background: rgb(154 34 56 / 90%);
}

/*import form*/

.import-modal {
  width: 100%;
}

.excel-input {
  width: 100%;
}

/*Tablet Size*/
@media screen and (min-width: 768px) and (max-width: 1160px) {

  /*Table Design*/

  .tblttl {
    margin-bottom: 0vw;
    font-size: 18px;
  }

  .deletebtn i {
    font-size: 2vw;
  }

  .profile-detail {
    width: 60%;
    margin: 10% 20%;
  }

  .profile-detail img {
    width: 9.2vw;
    height: 7.4vw;
  }

  /*edit form*/
  .edit-container {
    width: 50%;
    margin: 5% 28%;
  }

  .edit-container .edit-ttl {
    padding: 0vw;
    font-size: 2.2vw;
  }

  .edit-container .edit-form {
    padding: 3.3vw 3.3vw;
    max-width: 90%;
  }

  .edit-container .edit-form label {
    font-size: 1.7vw;
  }

  .edit-container .edit-form input {
    width: 100%;
    margin: 0.7vw 0;
    padding: 0.7vw;
    border: 0.1vw solid #888;
    border-radius: 0.7vw;
  }

  /*import form*/
  .import-modal {
    min-width: 38%;
  }
}


@media screen and (max-width: 767.9px) {

  /*Table Design*/
  .deletebtn i {
    font-size: 1.9vw;
  }

  .profile-detail {
    width: 40%;
  }

  .profile-detail img {
    width: 9.4vw;
    height: 7.8vw;
  }

  .tblttl {
    margin-bottom: 0vw;
    font-size: 3vw;
  }

  /*edit form*/
  .edit-container {
    width: 50%;
    margin: 13% 28%;
  }

  .edit-container .edit-ttl {
    padding: 1.6vw;
    font-size: 2.5vw;
  }

  .edit-container .edit-form {
    padding: 3.9vw 3.9vw;
    max-width: 83%;
  }

  .edit-container .edit-form label {
    font-size: 2vw;
  }

  .edit-container .edit-form input {
    width: 100%;
    margin: 0.8vw 0;
    padding: 0.8vw;
    border: 0.2vw solid #888;
    border-radius: 0.8vw;
  }

  /*Export and Import*/
  .excelBtn {
    padding: 3px 10px;
  }

  .excel-input {
    margin-bottom: 6px;
    padding: 4px;
  }

  /*import form*/
  .import-modal {
    min-width: 45%;
  }
}
