.changePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px 0 30px;
  }

  .form-blk {
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 8px 8px 4px rgb(255 4 4 / 30%);
    background-color: #fff;
    border-radius: 20px;
  }

  .title {
    margin-bottom: 20px;
    color: #d10b42;
    font-size: 25px;
    text-align: center;
  }

  .input-gp {
    padding-bottom: 20px;
  }

  .change-btn {
    width: 300px;
    margin-bottom: 15px;
    border: none;
    box-shadow: 6px 6px 3px rgb(250 112 112 / 80%);
    background-color: #ECB390;
    color: #fff;
    font-size: 16px;
  }

  .change-btn:hover {
    box-shadow: none;
    background: #F7A76C;
    transform: translate(0, 0.375em);
    transition: all 0.3s;
  }

  input {
    width: 320px;
    margin-top: 5px;
    padding: 10px 10px;
    border: 2px solid #B7C4CF;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border-radius: 10px;
  }

  .change-blk {
    text-align: center;
  }

  .error-message {
    display: block;
    margin-top: 4px;
    color: #EB4747;
    font-size: 14px;
    width: 320px;
  }

  .change-message {
    position: relative;
    color: #666;
    font-size: 14px;
  }

  .change-success {
    display: table;
    position: absolute;
    top: 77px;
    left: 50%;
    width: 390px;
    padding: 13px;
    border: 2px solid #11e134;
    background-color: #ddefbb;
    text-align: center;
    transform: translateX(-50%);
    border-radius: 8px;
  }

  .icon-btn {
    position: absolute;
    right: -25%;
  }


  @media screen and (min-width:768px) and (max-width:1280px)
  {
    .changePassword {
        margin: 12.938vw 0 2.344vw;
      }

      .form-blk {
        padding: 2.344vw;
        border: 0.078vw solid #ddd;
        box-shadow: 0.625vw 0.625vw 0.313vw rgb(255 4 4 / 30%);
        border-radius: 1.563vw;
      }

      .title {
        margin-bottom: 1.563vw;
        font-size: 3vw;
      }

      .input-gp {
        padding-bottom: 1.563vw;
      }

      .change-btn {
        width: 23.438vw;
        margin-bottom: 1.172vw;
        box-shadow: 0.469vw 0.469vw 0.234vw rgb(250 112 112 / 80%);
        font-size: 1.25vw;
      }

      input {
        width: 25vw;
        margin-top: 0.391vw;
        padding: 0.781vw 0.781vw;
        border: 0.156vw solid #B7C4CF;
        font-size: 1.094vw;
        border-radius: 0.781vw;
      }

      .changePassword .error-message {
        margin-top: 0.313vw;
        font-size: 1.594vw;
        width: 41vw;
      }

      .change-message {
        font-size: 2.094vw;
      }

      .change-success {
        top: 7.016vw;
        left: 50%;
        width: 47.469vw;
        padding: 1.016vw;
        border: 0.156vw solid #11e134;
        border-radius: 0.625vw;
      }

      .icon-btn {
        position: absolute;
        right: -42%;
        top: 0%;
      }
  }
  /*Mobile Size*/
  @media screen and (max-width: 767.9px) {
    .changePassword {
        margin: 21.875vw 0 4.688vw;
      }

      .form-blk {
        padding: 4.688vw;
        border: 0.156vw solid #ddd;
        box-shadow: 1.25vw 1.25vw 0.625vw rgb(255 4 4 / 30%);
        border-radius: 3.125vw;
      }

      .title {
        margin-bottom: 3.125vw;
        font-size: 5vw;
      }

      .input-gp {
        padding-bottom: 3.125vw;
      }

      .change-btn {
        width: 46.875vw;
        margin-bottom: 2.344vw;
        box-shadow: 0.938vw 0.938vw 0.469vw rgb(250 112 112 / 80%);
        font-size: 2.5vw;
      }

      input {
        width: 50vw;
        margin-top: 0.781vw;
        padding: 1.563vw 1.563vw;
        border: 0.313vw solid #B7C4CF;
        font-size: 2.188vw;
        border-radius: 1.563vw;
      }

      .changePassword .error-message {
        margin-top: 0.625vw;
        font-size: 2.188vw;
        width: 52vw;
      }

      .change-message {
        font-size: 2.188vw;
      }

      .change-success {
        top: 12.031vw;
        left: 50%;
        width: 60.938vw;
        padding: 2vw;
        border: 0.313vw solid #11e134;
        border-radius: 1.25vw;
        display: flex;
        line-height: 1;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
      }
  }
