.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.detail-card {
    position: relative;
    width: 80%;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 1px 20px 27px rgb(0 0 0 / 42%);
    border-radius: 10px;
}

.detail-img {
    float: left;
    width: 40%;
}

.detail-img img {
    width: 100%;
    height: 100%;
}

.detail-status {
    float: right;
    width: 56%;
}

.detail-title {
    color: #ff00b1;
    font-size: 40px;
}

.detail-category {
    width: 100px;
    padding: 2px;
    background: #f3c1c2;
    text-align: center;
    border-radius: 30px;

}

.detail-description {
    display: none;
    color: #b1b1b1;
}

.detail-shortdescription {
    display: inline;
    color: #b1b1b1;
}

.seemore {
    border: oldlace;
    background: transparent;
    color: #a822df;
}

.seeless {
    display: none;
    border: oldlace;
    background: transparent;
    color: #a822df;
}

.relatedCategory {
    color: #dd2624;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.related-card {
    margin-top: 0%;
    margin-left: 5%;
    max-width: 1280px;
}

.detail-price {
    color: #2e8bff;
    font-size: 25px;
    font-weight: bold;
}

.pricetitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-btn {
    position: absolute;
    right: 2%;
    bottom: 3%;
    padding: 5px 10px;
    border: none;
    background-color: #ffafbd;
    color: #eee;
    border-radius: 10px;
}

.fa-cart-shopping {
    color: #ff00b1;
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .detail-status {
        float: right;
        width: 56%;
    }

    .detail-title {
        font-size: 3.3vw;
    }

    .detail-category {
        font-size: 1.8vw;

    }

    .detail-shortdescription {
        font-size: 1.8vw;
    }

    .detail-price {
        font-size: 3vw;
    }

    .relatedCategory {
        font-size: 3.3vw;
    }

}

/* SP */
@media screen and (max-width: 767.9px) {
    .detail-img {
        float: none;
        width: 100%;
    }

    .detail {
        margin-top: 0vw;
    }

    .detail-card {
        margin-top: 14.1vw;
    }

    .detail-status {
        float: none;
        width: 100%;
    }

    .detail-title {
        font-size: 3.1vw;
    }

    .detail-category {
        font-size: 2vw;

    }

    .detail-shortdescription {
        font-size: 2vw;
    }

    .relatedCategory {
        margin-top: 2.3vw;
        font-size: 3.1vw;
    }

    .detail-price {
        font-size: 2.8vw;
    }

    .order-btn {
        position: relative;
        bottom: 3%;
        float: right;
        font-size: 11px;
    }

    .fa-cart-shopping {
        font-size: 2vw;
    }
}
