/*Team Member*/
.member {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 100px;
    max-width: 1920px;
}

.member-ttl {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000000, 4px 4px 2px #982d2d, 6px 6px 4px #fd0202 ;
}

.member-card .cards {
  display: flex;
  margin-left: 9%;
}

.member-card .cards .card {
  width: calc(100% /4 - 30px);
  margin: 0 0.2%;
  padding: 0.5%;
  border: 5px solid #DDEFBB;
  background-color: #fff;
  transition: 0.5s ease;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.member-card .cards .card:hover {
  transform: translateY(-25px);
}

.cards .card .content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
  text-align: center;
}

.cards .card .content-card .img-member {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
}

.rotate-bdr {
  padding: 1px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #C9FFBF;
  border-bottom: 2px solid #C9FFBF;
  border-radius: 50%;
  animation: rotatecircle 1s ease infinite;
  animation-direction: alternate-reverse;
}

@keyframes rotatecircle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.card .content-card .img-member img {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  background-color: #fff;
  object-fit: cover;
  border-radius: 50%;
  animation: rotateimg 1s ease infinite;
  animation-direction: alternate-reverse;
}

@keyframes rotateimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

.card .content-card .info .name {
  font-size: 18px;
}

.card .content-card .info .detail {
  width: 100%;
  padding: 0.5%;
  color: #666666;
  font-size: 14px;
  max-width: 250px;
}

.card .content-card .social-media {
  display: flex;
  margin-top: 10px;
  margin-left: 20%;
}

.card .content-card .social-media a {
  width: 30px;
  height: 30px;
  line-height: 1.8;
  margin: 0 4px;
  border: 2px solid transparent;
  background-color: #DDEFBB;
  color: #FFAFBD;
  text-align: center;
  border-radius: 50%;
}

.content-card .social-media a:hover {
  background-color: #fff;
  transition: 0.5s;
  border-color: #DDEFBB;
}


/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .member {
    margin-top: 7%;
    margin-bottom: 50%;
  }

  .member-card .cards {
    flex-wrap: wrap;
    margin-right: 8%;
  }

  .member-card .cards .card {
    width: calc(100% / 2 - 0.781vw);
    margin-bottom: 10%;
  }

  .cards .card .content-card .img-member {
    margin-left: 5%;
  }

  .cards .card .content-card {
    display: block;
    width: 100%;
    padding: 0 2%;
  }

  .card .content-card .info .name {
    margin-left: 10%;
    text-align: left;
  }

  .card .content-card .info .detail {
    text-align: justify;
    max-width: 100%;
  }

  .card .content-card .social-media {
    margin-left: 10%;
  }

}

/* SP */
@media screen and (max-width: 767.9px) {
  .member {
    margin-top: 15%;
    margin-bottom: 60%;
  }

  .member-card .cards {
    flex-wrap: wrap;
    margin-left: 3%;
  }

  .member-card .cards .card {
    width: calc(100%/2 - 1.563vw);
    margin-bottom: 10%;
  }

  .cards .card .content-card .img-member {
    width: 15.625vw;
    height: 15.625vw;
    margin-left: 3%;
  }

  .cards .card .content-card {
    display: block;
    width: 100%;
    padding: 0 2%;
  }

  .card .content-card .info .name {
    margin-left: 10%;
    text-align: left;
  }

  .card .content-card .info .detail {
    font-size: 1.875vw;
    text-align: justify;
    max-width: 100%;
  }

  .card .content-card .social-media {
    margin-left: 10%;
  }
}
